<div class="row">
	<ul class="pinButtons center">
		<li><a class="waves-effect waves-light btn blue darken-1 small" ng-href="#!/show-all-boards">Show All</a></li>
		<li><a class="waves-effect waves-light btn blue darken-1 small" ng-href="#!/add-pin">Add Pin</a></li>
		<li><a class="waves-effect waves-light btn blue darken-1 small" ng-href="#!/edit-pin">Edit Pin</a></li>
		<li><a class="waves-effect waves-light btn blue darken-1 small" ng-href="#!/delete-pin">Delete Pin</a></li>
		<li><a class="waves-effect waves-light btn blue darken-1 small" ng-href="#!/add-board">Add Board</a></li>
		<li><a class="waves-effect waves-light btn blue darken-1 small" ng-href="#!/edit-board">Edit Board</a></li>
		<li><a class="waves-effect waves-light btn blue darken-1 small" ng-href="#!/delete-board">Delete Board</a></li>
	</ul>
</div>