<h3>Edit a Pin</h3>
<form>
	<div class="form-group">
        <label>What Pin?</label>
        <input type="text" class="form-control" placeholder="Hint: use pin number" ng-model="editedPin.pin"/>
    </div>
    <div class="form-group">
        <label>What board?</label>
        <input type="text" class="form-control" placeholder="Hint: username/boardname" ng-model="editedPin.board"/>
    </div>
    <div class="form-group">
        <label>Note</label>
        <input type="text" class="form-control" placeholder="Make a note" ng-model="editedPin.note"/>
    </div>
    <div class="form-group">
        <label>Link</label>
        <input type="text" class="form-control" placeholder="Link" ng-model="editedPin.link"/>
    </div>
    <div class="form-group">
        <label>Image URL</label>
        <input type="text" class="form-control" placeholder="Image location" ng-model="editedPin.image_url"/>
    </div>
    <div class="text-center">
        <button class="btn btn-default red" ng-click="editPin()">Edit Pin</button>    
    </div>
</form>

