<nav>
	<div class="nav-wrapper red">
		<div class="container">
	      <a href="#" class="brand-logo">Unpinterested</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="https://api.pinterest.com/oauth/?response_type=code&redirect_uri=https://21588d50.ngrok.io&scope=read_public,write_public,read_relationships,write_relationships&client_id=4921312230101758289" id="login">Login</a></li>
	        <!-- <li><a href="#" id="authCode" ng-click="getAuthCode()">Get Auth Code</a></li>
	        <li><a href="#" id="token" ng-click="getAccessToken()">Get Access Token</a></li> -->
	        <li><a href="#" id="logout" class="hide">Logout</a></li>
			<li><div id="targetDiv"></div></li>
			<li><div id="userName"></div></li>
	      </ul>
	    </div>
	</div>
</nav>